/*---------------------------------------------
	PURE CSS WEATHER ICONS
	Class names match the icon values returned
	from the Wunderground API
----------------------------------------------*/
* { box-sizing: border-box; }
html { background: #86B9E0; }
h1.title {
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.container {
	margin: 12% auto;
	text-align: center;
	width: 80%;
}
.weatherIcon {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	/* Redefine this font size if resizing height & width */
	font-size: 1em;
	height: 100px;
	line-height: 1em;
	margin: 2%;
	position: relative;
	width: 100px;
}
.weatherIcon:before, .weatherIcon:after {
	content: "";
	height: inherit;
	left: 0;
	top: 0;
	width: inherit;
}
.weatherIcon > div:before, .weatherIcon > div:after,
.weatherIcon .inner:before, .weatherIcon .inner:after {
	content: "";
	letter-spacing: 0;
	position: absolute;
}

